.form-container {
    max-width: 600px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing between input groups as needed */
  }
  
  .input-group label {
    flex: 0 0 150px; /* Adjust label width as needed */
    margin-right: 10px; /* Adjust spacing between label and input as needed */
  }
  
  .input-group input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: var(--input-color); /* Use variable for input background color */
  }
  
  :root {
    --input-color: #DDFDE9; /* Define input background color */
  }
  