:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #1c1c1a;
  --secondary-color: #8ad167;
  --tertiary-color: #ddfde9;
  --primary-color: #ffffff;
  
}
body{
  background-color: var(--primary-color);
  color: var(--text-color);
}
